* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #4B474B;
}

/* Inicio topo  */
.top {
    background-color: black;
    display: flex;
    /* alinhamento horizontal */
    justify-content: space-around;
    height: 110px;
    /* alinhamento vertical */
    align-items: center;
}

.logo img {
    width: 170px;
    height: 64px;
    border-radius: 16px;
}
/* pesquisa */
.search input {
    width: 404px;
    height: 32px;
    border-radius: 5px;
    margin-left: 10px;
}

.login p {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

/* carrinho de compras */
.cart {
    display: flex;
}

.cart img {
    width: 48px;
    padding-left: 75px;

}

.cart p {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.fa-magnifying-glass {
    margin-left: -30px;
}

/* Inicio Menu */
.menu-nav {
    display: flex;
    background-color: #fff;
    width: 80%;
    height: 68px;
    /* border: 2px solid red; */
    justify-content: center;
    margin: 0 auto;
    padding-top: 10px;
}

.menu-hamburguer img {
    width: 33px;
    height: 33px;
    padding-top: 10px;
    margin-left: 10px;

}

.menu-nav ul {
    display: flex;
    list-style: none;
    padding-top: 15px;
}

.menu-nav ul li a {
    font-size: 20px;
    color: rgb(61, 57, 57);
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 80px;
}

/* Inicio produtos */
.produtos h1 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.produtos-info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.produtos-info img {
    width: 70%;

}

/* inicio promoções */
.promocoes {
    display: flex;
    justify-content: center;
}

.promocoes img {
    width: 300px;
    height: 260px;
    padding: 50px;
    margin-top: 100px;
}

.promocoes-semana h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.precos {
    display: flex;
    justify-content: space-around;
}

.parcelas img {
   
}

.parcelas p {
 background-color: white;
 margin-top: 5px;
 
}
